rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    function isSignedIn() {
      return request.auth != null;
    }

    // Rules for the 'events' collection
    // Allow anyone to create an event (from the calculator)
    // Only admins can read/list/update/delete events
    match /events/{eventId} {
      allow create: if true;
      allow read, list, update, delete: if isSignedIn() && isAdmin();
    }

    // Rules for the 'systemSettings' collection
    // Allow anyone to read the settings
    // Only admins can write/update the settings
    match /systemSettings/{docId} {
        allow get: if true;
        allow list: if true;
        allow create, update, delete: if isSignedIn() && isAdmin();
    }

    // Rules for the 'roles_admin' collection
    // Only admins can manage other admins
    match /roles_admin/{userId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn() && isAdmin();
      allow create, update, delete: if isSignedIn() && isAdmin();
    }
  }
}
