@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 355 92% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 45 93% 57%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 45 93% 57%;
    --chart-3: 142 76% 46%;
    --chart-4: 45 93% 67%;
    --chart-5: 142 76% 56%;
    --radius: 0.5rem;

    --sidebar-background: 240 5% 96%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-border: 240 6% 90%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-ring: 142 76% 36%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 76% 31%;
    --primary-foreground: 35 91% 97%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 45 93% 57%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 142 76% 31%;
    --chart-1: 142 76% 31%;
    --chart-2: 45 93% 57%;
    --chart-3: 142 76% 41%;
    --chart-4: 45 93% 67%;
    --chart-5: 142 76% 51%;

    --sidebar-background: 240 4% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-ring: 142 76% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
